.gridItem {
  display: flex;
  justify-content: center;
  padding: 16px;
  background-color: #f2d7d5;
}
.gridItemVisited {
  display: flex;
  justify-content: center;
  background-color: #cd6155;
  padding: 16px;
}
.gridItemHighlight {
  display: flex;
  justify-content: center;
  padding: 16px;
  background-color: #c0392b;
  color: white;
}
