.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.spiralContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.spiralButtonContainer {
  border: 2px solid coral;
  margin: 8px;
}
.spiralButton {
  padding: 16px;
  margin: 16px;
}
